#Header {
    color: white;
    background: linear-gradient(90deg, rgb(15,50,55), rgb(15,47,68));
    padding: 40px 60px 40px 60px;
}

#HeaderRec {
    padding-left: 10px;
    padding-right: 10px;
}

#Logo {
    height: auto;
    width: 15%;
}

.Cart {
    height: auto;
    width: 4%;
    float: right;
}

.Cart:hover {
    cursor: pointer;
}

#Nav {
    background: linear-gradient(90deg, rgb(15,50,55), rgb(15,47,68));
    align-content: center;
}

.nav {
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.signDiv {
    cursor: pointer;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    text-align: center;
    transform: scale(1.5);
}

#signDiv:hover {
    background-color: rgb(69, 129, 168);
    box-sizing: border-box;
    border: 3px solid lightgray;
    text-align: center;
}

#signin {
    font-size: 20px
}

#logout {
    font-size: 12px;
    color: white;
}

body {
    background-color: white;
    margin-bottom: 10px;
}

.nav li {
    display: inline-block;
    font-family: 'Open-Sans', sans-serif;
    font-size: 25px;
}

.nav a {
    display:inline-block;
    padding:25px;
    width: 80px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    background-color: #555;
    color: white;
}

#HomeP {
    font-size: 1.5rem;
    color: rgb(46, 46, 46);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
    margin: 20px;
}

p {
    font-size: 1.5rem;
    color: rgb(46, 46, 46);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
    margin: 20px;
}

#homeIMG {
    padding-right: 10px;
    float:left;
    height: auto;
    width: 25%;
}

hr {
    margin: 0px;
    color: white;
}

.Man {
    display: inline;
    float: left;
    position: absolute;
    right: 50px;
    z-index: 2;
    height: 300px;
    width: 300px;
    background-image: url("Images/MSurf2.png");
    background-size: 300px;
}


.Man:hover {
    background-image: url("Images/MSurfShadow.png");
    cursor: pointer;
}


.Woman {
    display: inline;
    float: right;
    position: absolute;
    left: 50px;
    z-index: 2;
    height: 300px;
    width: 300px;
    background-image: url("Images/WSurf2.png");
    background-size: 300px;
}

.Woman:hover {
    background-image: url("Images/WSurfShadow.png");
    cursor: pointer;
}

#SexSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
 }

#waves {
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
}

#manIMG {
    height: 300px;
}

.shopping {
    align-content: center;
    text-align: center;
}

.items {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;
    margin-bottom: 200px;

}

h1.shopping {
    display: flex;
}

.item {
    width: 250px;
    display: inline;
}

div.text {
    display: flex;
    margin-left: 25px;
}

.itemBlock {
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid lightgray;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-botton: 25px;
    height: 300px;
    text-underline: darkgray;
}

.itemBlock:hover {
    border: 3px solid darkgray;
    transform: scale(1.15);
    cursor: pointer;
}

.cartOverlay {
    width: 250px;
    display: none;
    position: fixed;
}

.cartOverlay:hover {
    display: inline;
}

.cartOverlay:hover {
    display: inline;
    opacity: 0.5;
}

.shopHeader {
    font-family: "Arial";
    color: darkgray;
    font-size: 50px;
}



